.content-consoles{
    max-height: 94vh;
    overflow: auto;
    overflow-y: scroll;
    width: 100.5%;
}

.content-welcome{
    width: 98.8%;
}

.bg-really-dark{
    background-color: #000 !important;
}

.p-welcome{
    background-color: #ff7306;
    border-radius: 56px;
}