<div class="font-monospace text-white h-100 p-3" (click)="setFocus()" *ngIf="!offline && !loading">
  <div class="message-container" *ngFor="let message of messages">
    <span style="white-space: break-spaces;" [innerHTML]="message | nl2b"></span>
  </div>
  <div class="input-group input-group-sm">
    <span class="input-group-text bg-transparent text-white border-none">Path: {{currentPath}}></span><br />
    <div class="col-md-12">
      <div class="input-group mb-2">
        <div class="input-group-prepend ">
          <div class="input-group-text bg-transparent text-white border-none">>></div>
        </div>
        <input #userInput type="text" [id]="'text-input'+ index" autocomplete="off"
        (keyup.enter)="command(userInput.value); userInput.value = ''"
        class="form-control bg-transparent text-white border-none">
      </div>
    </div>
  </div>
</div>

<div class="border d-flex align-items-center justify-content-center text-center bg-white h-100"
 *ngIf="offline && !loading">
  <div class="row">
    <div class="col-md-12">
      <img height="200" src="assets/images/noData.jpg">
    </div>
    <div class="col-md-12"><b>Sem Conexão com a Máquina</b></div>
    <div class="col-md-12"><b>IP:</b> {{ip}}</div>
    <div class="col-md-12 m-t-10">
      <button type="button" class="btn btn-primary" (click)="connect()"><i class="icofont-refresh"></i>
        Reconectar</button>
      <button type="button" class="btn btn-danger" (click)="removeConsole()" style="margin-left: 5px;"><i
          class="icofont-trash"></i> Retirar Console</button>
    </div>
  </div>
</div>

<div class="d-flex align-items-center justify-content-center text-center h-100 bg-white" *ngIf="loading">
  <div class="loader">Loading...</div>
</div>