/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 80vh;
  }
  
  .navbar-console {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .navbar-console a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar-console a:hover {
    background: #f1f1f1;
    color: black;
  }
  
  .navbar-console a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .main {
    padding: 16px;
    margin-bottom: 30px;
  }